@import "./variables";
body {
  line-height: 1.6;
  color: $white-color;
  background-color: $secondary-color;
  font-family: "Poppins", sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}
  
p {
    margin-bottom: 1.5rem;
}
ul{
  list-style: none;
}
a{
  text-decoration: none
}